<template>
  <div>
    <b-button variant="success" class="float-right" @click="addNewUser"
      >Add New</b-button
    >
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <div class="form-row">
        <div class="form-group col-md-6">
          <form ref="form" @submit.stop.prevent="handleSubmit">
            <b-form-group label="Firstname" label-for="firstname">
              <b-form-input
                id="firstname"
                v-model="form.firstname"
                required
              ></b-form-input>
            </b-form-group>
          </form>
        </div>
        <div class="form-group col-md-6">
          <form ref="form" @submit.stop.prevent="handleSubmit">
            <b-form-group label="Surname" label-for="surname">
              <b-form-input
                id="surname"
                v-model="form.surname"
                required
              ></b-form-input>
            </b-form-group>
          </form>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-7">
          <form ref="form" @submit.stop.prevent="handleSubmit">
            <b-form-group label="Your ID" label-for="YourID">
              <b-form-input
                id="YourID"
                v-model="form.YourID"
                required
              ></b-form-input>
            </b-form-group>
          </form>
        </div>
        <div class="col-md-5">
          <b-form-group label="Gender:" label-for="gender">
            <b-form-select
              id="gender"
              v-model="form.gender"
              :options="genderOption"
              required
            ></b-form-select>
          </b-form-group>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
          <form ref="form" @submit.stop.prevent="handleSubmit">
            <b-form-group label="Date of birth" label-for="date">
              <b-form-input
                id="date"
                v-model="form.date"
                required
              ></b-form-input>
            </b-form-group>
          </form>
        </div>
        <div class="form-group col-md-4">
          <form ref="form" @submit.stop.prevent="handleSubmit">
            <b-form-group label="Education" label-for="education">
              <b-form-select
                id="education"
                v-model="form.education"
                :options="educationOption"
                required
              ></b-form-select>
            </b-form-group>
          </form>
        </div>
        <div class="form-group col-md-4">
          <form ref="form" @submit.stop.prevent="handleSubmit">
            <b-form-group label="Position" label-for="position">
              <b-form-select
                id="position"
                v-model="form.position"
                :options="positionOption"
                required
              ></b-form-select>
            </b-form-group>
          </form>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
          <form ref="form" @submit.stop.prevent="handleSubmit">
            <b-form-group label="Salary" label-for="salary">
              <b-form-input
                id="salary"
                v-model="form.salary"
                required
              ></b-form-input>
            </b-form-group>
          </form>
        </div>
      </div>
    </b-modal>
    <b-table striped hover :items="userList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editUser(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delUser(data.item)">Delete</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
export default {
  data () {
    return {
      title: 'เพิ่มผู้ใช้ใหม่',
      form: {
        id: -1,
        firstname: '',
        surname: '',
        YourID: '',
        gender: null,
        date: '',
        education: null,
        position: null,
        salary: ''
      },
      genderOption: [
        { text: 'Select One', value: null },
        { value: 'M', text: 'ผู้ชาย' },
        { value: 'F', text: 'ผู้หญิง' }
      ],
      educationOption: [
        { text: 'Select One', value: null },
        { value: 'ปริญญาตรี', text: 'ปริญญาตรี' },
        { value: 'ปริญญาโท', text: 'ปริญญาโท' },
        { value: 'ปริญญาเอก', text: 'ปริญญาเอก' }
      ],
      positionOption: [
        { text: 'Select One', value: null },
        { value: 'position 1', text: 'position 1' },
        { value: 'position 2', text: 'position 2' },
        { value: 'position 3', text: 'position 3' },
        { value: 'position 4', text: 'position 4' },
        { value: 'position 5', text: 'position 5' }
      ],
      userList: [
        {
          id: 1,
          firstname: 'จิรพนธ์',
          surname: 'เพียรพิทักษ์',
          YourID: '13322001999999',
          gender: 'M',
          date: '1/11/2541',
          education: 'ปริญญาตรี',
          position: 'position 1',
          salary: '15000'
        },
        {
          id: 2,
          firstname: 'Akame',
          surname: 'Hita',
          YourID: '7172255471789',
          gender: 'F',
          date: '15/8/2539',
          education: 'ปริญญาโท',
          position: 'position 4',
          salary: '29000'
        }
      ],
      lastId: 3,
      fields: [
        'id',
        'firstname',
        'surname',
        'YourID',
        'gender',
        'date',
        'education',
        'position',
        'salary',
        'operation'
      ]
    }
  },
  methods: {
    addNewUser () {
      console.log('Add new User')
      this.$bvModal.show('modal-form-user')
    },
    editUser (user) {
      console.log('Edit')
      console.log(user)
      this.title = 'แกไขผู้ใช้'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    delUser (user) {
      console.log('Del')
      console.log(user)
      this.$bvModal
        .msgBoxConfirm('ต้องการลบ ' + user.firstname + ' ' + user.surname + ' หรือไม่!!!', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            this.deleteUser(user)
          }
        })
    },
    resetModal () {
      this.form = {
        id: -1,
        firstname: null,
        surname: null,
        YourID: null,
        gender: null,
        date: null,
        education: null,
        position: null,
        salary: null
      }
    },
    handleOk (bvModalEvt) {
      bvModalEvt.preventDefault()

      this.handleSubmit()
    },
    handleSubmit () {
      if (this.form.id > 0) {
        this.updateUser(this.form)
      } else {
        this.addUser(this.form)
      }
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    addUser (user) {
      user.id = this.lastId++
      this.userList.push(user)
    },
    updateUser (user) {
      const index = this.userList.findIndex(item => item.id === user.id)
      this.userList.splice(index, 1, user)
    },
    deleteUser (user) {
      const index = this.userList.findIndex(item => item.id === user.id)
      this.userList.splice(index, 1)
    }
  }
}
</script>
